.Track {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #1ECBA4;
}

.Track-action {
  cursor: pointer;
  padding: .5rem;
  font-size: 1.05rem;
  transition: color .25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #A1F2C7;
}

.Track-action:hover {
  color: #F45A82;
}

.Track-action:focus {
  outline: none;
}

.Track-information {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 6rem;
}

.Track-information h3 {
  margin-bottom: .22rem;
}

.Track-information p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}

@media screen and (min-width: 1440px) {
  .Track-information {
    height: 4rem;
  }
}